/* .Welcome {
  margin-top: 50px;
  height: 150px;
  width: 100%;
  background-color: rgb(192, 67, 67);
  color: white;
  font-size: 200%;
  font-weight: bold;
  padding: 100px 0px 0px 32px;
} */
Body {
  margin-top: 65px;
  height: 300%;
  width: 100%;
  background-color: rgb(231, 230, 230);
}
