.NavigationItem {
  margin: 0px;
  box-sizing: border-box;
  height: 50%;
  display: flex;
  width: auto;
  align-items: center;
}

.NavigationItem a {
  color: white;
  height: 100%;
  margin-bottom: 25px;
  padding: 1px 10px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  display: block;
  box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active {
  border-bottom: 4px solid #81d434;
}
