.Welcome {
  margin-top: 50px;
  height: 150px;
  width: 100%;
  background-color: lightgray;
  color: black;
  font-size: 200%;
  font-weight: bold;
  padding: 100px 0px 0px 32px;
}
body {
  background-color: rgba(240, 240, 240, 0.972);
  height: 300%;
  width: 100%;
}
