.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: large;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Success {
  color: #b0e763;
}
.Danger {
  color: rgb(204, 81, 81);
}

.Danger:hover,
.Danger:active {
  color: rgb(177, 12, 12);
}
.Authenticate {
  color: rgb(14, 162, 211);
}
.Success:hover,
.Success:active {
  color: rgba(6, 199, 6, 0.959);
}

.Authenticate:hover,
.Authenticate:active {
  color: rgba(34, 12, 238, 0.959);
}
