.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: large;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Success {
  color: #b0e763;
}
.Danger {
  color: rgb(204, 81, 81);
}

.Danger:hover,
.Danger:active {
  color: rgb(177, 12, 12);
}

.Success:hover,
.Success:active {
  color: rgba(6, 199, 6, 0.959);
}

.Authenticate {
  padding: 15px 25px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.Authenticate:hover {
  background-color: #3e8e41;
}

.Authenticate:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
