.NavigationItems {
  margin-top: 15px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}
.Header {
  margin: 0px;
  box-sizing: border-box;
  height: 50%;
  display: flex;
  width: auto;
  align-items: center;
  color: whitesmoke;
}
