.Post {
  width: 250px;
  padding: 16px;
  height: 250px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.Post:hover,
.Post:active {
  background-color: #c0ddf5;
}

.Author {
  margin: 16px 0;
  color: #ccc;
}

.Upvotes {
  color: black;
  margin: 5px auto;
  padding: 2px;
  display: inline-block;
  vertical-align: baseline;
  width: 50%;
  box-sizing: border-box;
}
